<label for="menu-toggle" class="flex flex-1 justify-end cursor-pointer lg:hidden block">
  {{ icon({ id: 'burger', class: "", width: "20", height: "20" }) }}
</label>
<input type="checkbox" class="hidden" id="menu-toggle"/>
<div class="hidden w-full bg-gray-200 lg:bg-transparent p-2 lg:flex lg:flex-grow lg:items-center lg:w-auto" id="menu">
  <nav class="w-full sm:block">
    <ul class="lg:flex items-center justify-between text-base text-gray-700 lg:pt-4 lg:pt-0">
      {% for item in site.navigation %}
        <li class="text-right">
          <a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent lg:hover:border-indigo-400 font-bold" {% if page.url == item.url %} aria-current="page" {% endif %} href="{{ item.url }}">
            {{ item.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
